In [1]:
import pandas as pd

In [3]:
data= pd.read_csv('dataset_Facebook.csv', sep=';')

In [4]:
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [5]:
data.shape

(500, 19)

In [6]:
subset1 =data[['comment','like','share'] ]

In [7]:
subset1

     comment    like  share
0          4    79.0   17.0
1          5   130.0   29.0
2          0    66.0   14.0
3         58  1572.0  147.0
4         19   325.0   49.0
..       ...     ...    ...
495        5    53.0   26.0
496        0    53.0   22.0
497        4    93.0   18.0
498        7    91.0   38.0
499        0    91.0   28.0

[500 rows x 3 columns]

In [8]:
subset1.sort_values('comment', ascending= True)

     comment    like  share
499        0    91.0   28.0
111        0     NaN    NaN
276        0    25.0    5.0
282        0   104.0   13.0
286        0    15.0    3.0
..       ...     ...    ...
228       64   367.0   25.0
288      103   469.0   33.0
168      144  1622.0  208.0
460      146  1546.0  181.0
244      372  5172.0  790.0

[500 rows x 3 columns]

In [9]:
subset1.sort_values('like', ascending= False)

     comment    like  share
244      372  5172.0  790.0
379       51  1998.0  128.0
349       45  1639.0  122.0
168      144  1622.0  208.0
3         58  1572.0  147.0
..       ...     ...    ...
21         0     0.0    0.0
100        0     0.0    0.0
441        0     0.0    0.0
417        0     0.0    0.0
111        0     NaN    NaN

[500 rows x 3 columns]

In [10]:
subset2= data[['Page total likes', 'Type', 'share']]

In [11]:
subset2

     Page total likes    Type  share
0              139441   Photo   17.0
1              139441  Status   29.0
2              139441   Photo   14.0
3              139441   Photo  147.0
4              139441   Photo   49.0
..                ...     ...    ...
495             85093   Photo   26.0
496             81370   Photo   22.0
497             81370   Photo   18.0
498             81370   Photo   38.0
499             81370   Photo   28.0

[500 rows x 3 columns]

In [12]:
pd.merge(subset1, subset2)

      comment    like  share  Page total likes    Type
0           4    79.0   17.0            139441   Photo
1           4    79.0   17.0            138414  Status
2           4    79.0   17.0            138458   Photo
3           4    79.0   17.0            138895   Photo
4           4    79.0   17.0            138895   Photo
...       ...     ...    ...               ...     ...
5145      146  1546.0  181.0             92507   Photo
5146       19   214.0   78.0             92293   Photo
5147       56   360.0   99.0             86909   Photo
5148       21   277.0   80.0             85979   Photo
5149        1   105.0   46.0             85979   Photo

[5150 rows x 5 columns]

In [13]:
df= data.transpose()

In [14]:
df

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [15]:
df.shape

(19, 500)

In [16]:
a= data.iloc[1:50:3]

In [17]:
a

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
13,139441,Photo,2,12,5,3,0.0,2549,4896,249,134,168,3631,1917,183,5,137.0,10.0,152
16,138414,Photo,3,12,3,3,0.0,1722,2981,163,123,148,1868,1050,123,2,40.0,12.0,54
19,138414,Photo,3,12,1,11,0.0,1591,2825,121,88,111,2116,1161,100,0,34.0,8.0,42
22,138414,Link,1,12,7,10,0.0,3454,6853,118,104,130,6282,3100,106,0,16.0,2.0,18
25,138458,Status,2,12,6,3,0.0,8284,15104,1521,1462,1711,10266,5372,1200,0,88.0,18.0,106
28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
31,138895,Photo,2,12,3,10,0.0,1683,2929,192,171,221,1585,858,131,1,27.0,11.0,39
34,138895,Photo,1,12,2,3,0.0,3766,7149,298,260,431,5782,2938,244,2,56.0,17.0,75
37,138895,Photo,1,12,7,10,1.0,19800,28663,479,424,805,5187,2752,248,16,76.0,8.0,100
40,138895,Status,2,12,6,11,0.0,13280,24198,2055,1912,2720,17627,9344,1716,7,216.0,39.0,262
43,138353,Link,1,12,5,3,1.0,2645,4270,134,109,170,2330,1377,101,7,29.0,10.0,46
46,138353,Status,1,12,3,11,0.0,16576,30612,3572,3464,4802,24363,12888,3014,4,174.0,36.0,214
49,138353,Link,1,12,2,2,0.0,1536,3094,84,76,99,2903,1407,76,1,12.0,1.0,14

In [18]:
a.shape

(17, 19)

In [19]:
table=pd.pivot_table(data = data, index= ['Total Interactions'], columns=['Type'],values=['like'])

In [20]:
table

                   like
Type               Link   Photo Status Video
Total Interactions
0                   NaN     0.0    NaN   NaN
2                   NaN     2.0    NaN   NaN
3                   NaN     3.0    NaN   NaN
4                   NaN     2.5    NaN   NaN
5                   NaN     4.0    NaN   NaN
...                 ...     ...    ...   ...
1806                NaN  1639.0    NaN   NaN
1873                NaN  1546.0    NaN   NaN
1974                NaN  1622.0    NaN   NaN
2177                NaN  1998.0    NaN   NaN
6334                NaN  5172.0    NaN   NaN

[280 rows x 4 columns]

In [21]:
table.shape

(280, 4)